<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Store</title>
</head>

<body>

  <h1>Add Store</h1>

  <form id="addStoreForm" action="/addStore" method="post">
    <label for="sid">Store ID:</label>
    <input type="text" id="sid" name="sid" required>
    <P></P>
    <label for="location">Store Location:</label>
    <input type="text" id="location" name="location" required>
    <p></p>
    <label for="mgrid">Manager ID:</label>
    <input type="text" id="mgrid" name="mgrid" required>
    <P></P>
    <button type="submit">Add Store</button>
  </form>

  <br><br>
  <a href="/store">Back to Stores</a>
  <br>
  <a href="/">Home Page</a>

</body>

</html>