<!-- error.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>

<body>
    <h1>Error Message</h1>
    <p>
        <%= message %>
    </p>
    <a href="/product">Home</a>
</body>

</html>